<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/article.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/style_sign_in.css">
</head>
<body>
    <div>
        <div class="center_block">
            <div class="sign_in_logo">
                <img src="{{ STATIC_URL }}/static/images/python.png" class ="image_sign_in">
            </div>
            <div class="authorization_block">
                <div class="authorization_email">
                    <label>User or email address</label>
                   <input type="text" class="input_email email_icon">
                </div>
                <div class="authorization_password">
                    <label>Password</label>
                    <input type="password" class="input_password">
                </div>
                <button class="button_sign_in">Sign in</button>
            </div>
        </div>
    </div>
</body>
</html>